li {
    display:inline-flex; 
    text-decoration-color: rgb(0, 0, 0);
  }

  .btn-outline-success{
    background-color: #000000a1; 
  }

.btn-outline-success{
   color: 	#ffffff;
   background-color: #3a9d0f;
}
.btn btn-outline-success{
    background-color: #cc0000;
}
#weather{
    color:	#ffffff;
}

.column {
  float: right;
  width: 50%;
  padding: 0 10px;

}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 --5px 5px 0;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 0 0 5px 0;
}